/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header Styles */
header {
  background-image: url('data/images/background1.webp'); /* Add your image path here */
  background-size: cover; /* Ensures the image covers the entire header */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  color: #7b2121;
  padding: 20px 0;
  text-align: center;
  font-size: 2.0em;
  width: 100%;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  z-index: 10;
}

/* Regular Menu Tabs (Horizontal) */
.menu {
  display: flex;
  font-size: 0.8em;
  flex-direction: row; /* Horizontal layout */
  justify-content: space-between; /* Space between the tabs */
  padding: 20px 50px; /* Adjust padding for spacing around */
  background-color: #585858;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; /* Add margin at the bottom */
}

/* Header and Tabs Button */
button {
  background: linear-gradient(135deg, #7b2121, #423c54);
  color: white;
  padding: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 12%; /* Make buttons take 12% of the width */
  font-size: .75em;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  min-height: 10%;
  margin: 0 15px; /* Add space between buttons */
  margin-bottom: 25px;
}

/* Hover Effect for Buttons */
button:hover {
  background: linear-gradient(135deg,  #df3737, #855bc9);
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 100px;
  width: calc(100% - 150px);
}

table th, table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #7b2121;
  color: black;
}

table th {
  background-color: #7b2121;
  border: 1px solid #000000;
  color: white;
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  
  background-color: #f1f1f1;
}

.search-container {
  display: flex; /* Align items horizontally */
  gap: 10px; /* Space between the search bar and the dropdown */
  align-items: center; /* Align the items vertically at the center */
}

/* Search Input */
.search-container input {
  padding: 8px;
  font-size: .8em;
  border-radius: 4px;
  width: 250px;
}

/* Main Content */
.main-content {
  margin-left: 280px;
  padding: 20px;
  width: calc(100% - 280px);
  padding-top: 20px;
}

/* Back Button */
button.back {
  background-color: #ff6b6b;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  display: block; /* Required for margin auto to work */
}

/* Back Button Container */
.back-button-container {
  display: flex;
  justify-content: flex-start; /* Keep on left side*/
  align-items: center; /* Center vertically if needed */
  margin: 20px 0; /* Add some spacing */
  margin-left: 5%;
}

button.back:hover {
  background-color: #e53b3b;
}

.player-images {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Center the images vertically */
}

.image-container {
  position: relative; /* Position the images relative to this container */
}


.physical-details {
  position: absolute;
  top:87%;
  left: 50%;
  transform: translate(-50%, -50%); /* Shifts the element back to center */
  z-index: 10;
}

h2_1 {
  position: absolute;
  top:77%;
  left: 50%;
  transform: translate(-50%, -50%); /* Shifts the element back to center */
  z-index: 10;
  font-size : 1.2em;
}



.player-card {
  position: relative;
  width: 400px;
  height: 400px;
  left: 20%;
  background-image: url(/data/images/gold_card.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; /* Adjust as needed */
  z-index: 10;
}

.image-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 45%;
}

.player-headshot {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-name {
  position: absolute;
  top: 7%;
  left: 44%;
  transform: translateX(-50%);
  font-size: 25px;
  color: rgb(27, 27, 27);
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}
.card-name p {
  margin: 0;  /* Remove default margin */
  line-height: 1.2;  /* Adjust line height to make them closer together */
}

.position {
  position: absolute;
  top: 4%;
  left: 56%;
  font-size: 30px;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
  color: rgb(27, 27, 27);
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
}

.team-logo-container, .conference-logo-container {
  position: absolute;
  transform: translateX(-50%);
}

.team-logo-container {
  top: 20%;
  left: 36%;
  width: 25%;
  height: 25%;
}

.conference-logo-container {
  top: 30%;
  left: 68%;
  width: 10%;
  height: 10%;
}

.team-logo, .conference-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stats-header {
  text-align: center;
  margin: 0; /* Remove default margin if any */
}

.tab{
  
  text-align: center;
  padding: 8px;
  color:#ffffff;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #7b2121;
    
}
