/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #dbdbdb;
  margin: 0;
  padding: 0;
}

header {
  background-color: #585858;
  color: black;
  padding: 15px 0;
  text-align: center;
  font-size: 2.0cap;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

nav {
  margin-top: 15px;
}

button {
  background-color: rgb(237, 32, 32);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-size: 1.1em;
  border-radius: 5px;
}

button:hover {
  background-color: #005f6a;
}

button:focus {
  outline: none;
}

input[type="text"] {
  padding: 10px;
  font-size: 1.2em;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"]:focus {
  border-color: #008CBA;
}

div {
  padding: 20px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  color: black; /* Ensures all text in the table is black */
}

table th {
  background-color:rgb(237, 32, 32);
  color: white; /* Keeps header text white */
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

table td {
  font-size: 1.1em;
}


/* Career Stats Table */
h3 {
  margin-top: 30px;
  font-size: 1.8em;
}

p {
  font-size: 1.2em;
  color: #888;
}

/* Team Section Styles */
.App-header {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons button {
  width: 150px;
  margin: 10px;
}

.team-list {
  margin-top: 30px;
}

.team-list ul {
  list-style-type: none;
  padding: 0;
}

.team-list li {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  text-align: left;
  font-size: 1.2em;
}

.team-list li:hover {
  background-color: #ddd;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: black;
  margin-top: 20px;
}
