/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header Styles */
header {
  background-color: #585858;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 2.0em;
  width: 100%;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  z-index: 10;
}

/* Side Menu Tabs */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Use the full width of the screen */
  display: flex;
  font-size: 0.8em;
  flex-direction: row; /* Change to horizontal layout */
  justify-content: space-between; /* Evenly distribute buttons */
  padding: 80px 20px 20px; /* Adjust padding to account for space */
  background-color: #585858;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Header and Tabs Button */
button {
  background: linear-gradient(135deg, rgb(237, 32, 32), #ff6b6b);
  color: white;
  padding: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 12%; /* Make buttons take 13% of the width */
  gap: 40px;
  font-size: .75em;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  min-height: 10%;
}


button:hover {
  background: linear-gradient(135deg, #ff6b6b, rgb(237, 32, 32));
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 100px;
  width: calc(100% - 150px);
}

table th, table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  color: black;
}

table th {
  background-color: rgb(237, 32, 32);
  color: white;
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

/* Search Input */
.search-container input {
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  width: 250px;
  margin: 10px 0;
}

/* Main Content */
.main-content {
  margin-left: 280px;
  padding: 20px;
  width: calc(100% - 280px);
  padding-top: 20px;
}

/* Back Button */
button.back {
  background-color: #ff6b6b;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}

button.back:hover {
  background-color: #e53b3b;
}
