/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header Styles */
header {
  background-image: url('data/images/background1.webp');
  /* Add your image path here */
  background-size: cover;
  /* Ensures the image covers the entire header */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  color: #7b2121;
  padding: 20px 0;
  text-align: center;
  font-size: 2.0em;
  width: 100%;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  z-index: 10;
}

/* Regular Menu Tabs (Horizontal) */
.menu {
  display: flex;
  font-size: 0.8em;
  flex-direction: row;
  /* Horizontal layout */
  justify-content: space-between;
  /* Space between the tabs */
  padding: 20px 50px;
  /* Adjust padding for spacing around */
  background-color: #585858;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  /* Add margin at the bottom */
}

/* Header and Tabs Button */
button {
  background: linear-gradient(135deg, #7b2121, #423c54);
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  width: 200px;
  /* Make buttons take 12% of the width */
  font-size: .75em;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  min-height: 10%;
  margin: 0 15px;
  /* Add space between buttons */
  margin-bottom: 25px;
}

/* Hover Effect for Buttons */
button:hover {
  background: linear-gradient(135deg, #df3737, #855bc9);
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

/*buttons for weekly and career stats*/
button2 {
  background: linear-gradient(135deg, #7b2121, #4f4f4f);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  width: 8%;
  /* Make buttons take 12% of the width */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  min-height: 10%;
  margin: 0 15px;
  /* Add space between buttons */
  margin-bottom: 25px;
  font-size: 0.8em;
}

/* Hover Effect for Buttons */
button2:hover {
  background: linear-gradient(135deg, #df3737, #855bc9);
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button2:focus {
  outline: none;
}

/* Back Button */
button2.back {
  background-color: #ff6b6b;
  padding: 7px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 50px;
  display: block;
  height: 20px;
  /* Required for margin auto to work */
}

/* Back Button Container */
.back-button-container {
  display: flex;
  justify-content: flex-start;
  /* Keep on left side*/
  align-items: center;
  /* Center vertically if needed */
  margin-top: 3%;
  /* Add some spacing */
  margin-bottom: 0%;
  margin-left: 5%;
}

button2.back:hover {
  background-color: #e53b3b;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 100px;
  width: calc(100% - 150px);
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #7b2121;
  color: black;
}

table th {
  background-color: #7b2121;
  border: 1px solid #000000;
  color: white;
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {

  background-color: #f1f1f1;
}

/* Search Input */
.search-container input {
  padding: 8px;
  font-size: 1.1em;
  border-radius: 4px;
  width: 250px;
  margin-top: 7%;
  margin-left: calc(100% + 300px);
}

/* Main Content */
.main-content {
  margin-left: 280px;
  padding: 20px;
  width: calc(100% - 280px);
  padding-top: 20px;
}



.player-images {
  display: flex;
  justify-content: center;
  /* Center the images horizontally */
  align-items: center;
  /* Center the images vertically */
}

.image-container {
  position: relative;
  /* Position the images relative to this container */
}


.player-details {
  position: absolute;
  margin-top: 10%;
  top: 62%;
  left: 53%;
  transform: translate(-50%, -50%);
  /* Shifts the element back to center */
  z-index: 10;
}




.player-card-container {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-bottom: 3%;
  z-index: 10;
}

.gold-card-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  /* Ensures it stays in the background */
}

.player-card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* Ensures content stays above the background */
}


.image-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 45%;
}

.player-headshot {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-name {
  position: absolute;
  top: 7%;
  left: 44%;
  transform: translateX(-50%);
  font-size: 25px;
  color: rgb(27, 27, 27);
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.card-name p {
  margin: 0;
  /* Remove default margin */
  line-height: 1.2;
  /* Adjust line height to make them closer together */
}

.position {
  position: absolute;
  top: 4%;
  left: 56%;
  font-size: 30px;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
  color: rgb(27, 27, 27);
  padding: 5px 10px;
  border-radius: 15px;
  text-align: center;
}

.team-logo-container,
.conference-logo-container {
  position: absolute;
  transform: translateX(-50%);
}

.team-logo-container {
  top: 20%;
  left: 36%;
  width: 25%;
  height: 25%;
}

.conference-logo-container {
  top: 30%;
  left: 68%;
  width: 10%;
  height: 10%;
}

.team-logo,
.conference-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stats-header {
  text-align: center;
  margin: 0;
  /* Remove default margin if any */
}

.tab {

  margin-top: 1%;
  margin-left: 5%;
  text-align: center;
  padding: 8px;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #7b2121;

}

.year-tab {
  background: linear-gradient(135deg, #7b2121, #4f4f4f);
  color: #ffffff; 
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  width: 100px;
  /* Make buttons take 12% of the width */
  font-size: 1em;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  height : 40px;
  margin-left: 3%;
  margin-top: -1%;
}

/* Change text color when the dropdown is clicked (focused) */
.year-tab:focus {
  color: black; /* Set text color to black when focused */
  outline: none; /* Optional: removes the default blue outline */
}

/* Optional: Change color on hover as well */
.year-tab:hover {
  color: black; /* Set text color to black on hover */
}

.controls-container {
  display: flex;
  /* Align children horizontally */
  align-items: center;
  /* Center them vertically */
  gap: 10px;
  /* Add space between the search and dropdown */
}

.position-name-stats {
  font-size: 2em;
  margin-left: 30%;
}

.controls-container-roster-position {
  display: flex;
  /* Align children horizontally */
  align-items: center;
  /* Center them vertically */
  gap: 10px;
  /* Add space between the search and dropdown */
}

.controls-container-roster-team {
  display: flex;
  /* Align children horizontally */
  align-items: center;
  /* Center them vertically */
  gap: 10px;
  /* Add space between the search and dropdown */
  margin-left: 10%;
}

.position-name-stats-roster {

  font-size: 2em;
  margin-left: 20%;
}



.text-outline {
  color: #7b2121;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.player-tabs-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Optional: centers vertically if needed */
  gap: 1rem;
  /* Optional: adds spacing between buttons */
  padding: 1rem;
  /* Optional: adds some breathing room */
  font-size: 2em;
  margin-top: -4.5%;
}

.headshot_position {
  position: absolute;
  top: 0;
  /* Adjust as needed */
  margin-left: 61%;
  margin-top: -4%;
  width: 270px;
  /* Or auto */
  height: auto;
  z-index: 10;
}

.headshot-container {
  position: relative;
  width: 100%;
  /* Optional: set a specific width if needed */
  height: auto;
}
